body{
    background-image:url("https://images.unsplash.com/photo-1556909211-36987daf7b4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size:cover;
    background-repeat: repeat;
    font-weight: 900;
    background-color: rgba(41, 128, 0, 0.87);
    font-family: 'Architects Daughter', cursive;
}

div.homeBox{
    color: whitesmoke;
    height:30em;
    background-size:cover;
    position: center;
    margin-top:10em;
    margin-bottom: 5em;
    border:solid whitesmoke 3px;
    
    box-shadow:0px 0px 4px rgb(255, 255, 255);
    font-family: 'Architects Daughter', cursive;
}

#signupBox{
    color: whitesmoke;
    height:auto;
    position: center;
    margin-top:5em;
    margin-bottom: 5em;
    border:solid whitesmoke 3px;
    box-shadow:0px 0px 4px rgb(255, 255, 255);
    

}

.search{
     color: whitesmoke;
    height:auto;
      position: center;
     border:solid whitesmoke 3px;
    box-shadow:0px 0px 4px rgb(255, 255, 255);
}

