{% extends 'base.html'%}
{%block title%}Home{%endblock%}
{% block link%}
<link rel="stylesheet" type="text/css" href="../static/css/home.css"> {% endblock %}

{%block nav%}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand"><i class="fas fa-stroopwafel"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/wine">Wine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/savedrecipe">SavedRecipe</a>
                </li>
            </ul>
            <span class="navbar-text"><a class="nav-link" href="/user/{{g.user.id}}/edit"><i
                        class="fas fa-user-edit"></i></a></span>
            <span class="navbar-text"><a class="nav-link" href="/logout">Logoout</a></span>
        </div>
    </div>
</nav>{%endblock%}
{% block content%}


<div id="signupBox">
    <div class="d-flex justify-content-center px-2 py-4">
        <span class="display-6 text-dark mx-3"><i class="fas fa-stroopwafel"></i></span>
        <input id="recipe" class="form-control" type="text" placeholder="What you like to Eat/Cook ?">
        <button id='btn-search' class="btn btn-success mx-4">Search</button>
    </div>
</div>
<section id="search" class="d-flex">
    <div id="result" class="row mb-5"></div>

</section>
<script src="../static/foodSearch.js"></script>
{% endblock%}