{% extends 'landingpage.html'%}
{% block title%}Sign Up{% endblock %}
{%block content%}
{% block link%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/home.css')}}"> {% endblock %}
<div id="signupBox">
    <h1 class="display-1 ms-4">Sign Up</h1>
    <div class="mx-5 my-3">
        <form action="/api/user/signup" method="POST">
            {{form.hidden_tag()}}
            {% for field in form
            if field.widget.input_type != 'hidden'%}

            {{field.label(class_="col-6 text-dark")}}
            {{field(class_="form-control")}}
            <p class="text-danger">
                {% for err in field.errors %}
                {{err}}
                {% endfor %}
            </p>
            {%endfor%}

            <button class="btn btn-light mt-3" type='submit'>Sign Up</button>
            <a class="btn btn-dark mt-3" type='button' href="/">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}